<%- include("partials/header", {isLoggedIn: isLoggedIn}) -%> 

<h1>Feed</h1>

<% posts.forEach(function(post){ %>
    <div class="post-container">
        <h1><%=post.title%></h1>
        <p>
        <%=post.content%>
        <br>
        <div class="writer">
            <a href="https://www.twitch.tv/<%= post.writer.displayName %>" target="_blank" class="btn btn-success"><img src="<%= post.writer.profileImage %>" alt="profile-img" class="profile-img"> <%= post.writer.displayName %></a>
        </div>
        </p>  
    </div>
<% }) %>
